.review-banner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review-wrapper {
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.review-wrapper p {
  text-align: left;
}

.review-details {
  padding: 10px 0;
}
